@require "_view.styl"

.jenkins
  &__job-builds_histogram
    .result--unknown
      fill $unknown-color
    .result--aborted
      fill $unknown-color
    .result--success
      fill $success-color
    .result--failure
      fill $failure-color
    .result--unstable
      fill #ffd356d1

  &__job
    position relative
    padding 7px 15px 7px 35px

    &:before
      content " "
      display block
      width  12px
      height 12px
      position absolute
      top  14px
      left 12px
      border-radius 100%
      background-color #000

    &__status
      position absolute
      left 15px

    &__number
      color darken($main-txt-color, 20)
      margin-right 7px

    &--success
      &:before
        background-color $success-color

    &--failure
      &:before
        background-color $failure-color

    time
      font-size 12px
      display inline-block
      color darken($main-txt-color, 20)

  &__job-status
    .widget__body
      padding-bottom 30px

    &__current
      margin 40px 0 0 50px
      &__status
        font-size 28px
        line-height 32px
        &--success
          color $success-color

        &--failure
          color $failure-color

      &__progress-number
        font-size 70%

      &__progress-bar
        border 0.25em solid $main-txt-color
        margin 8px 0

      &__time
        font-size 13px
        color darken($main-txt-color, 20)

    &__previous
      position absolute
      left   0
      bottom 10px
      height      24px
      line-height 24px
      padding 0 15px
      font-size 13px
      color darken($main-txt-color, 20)

  &__job-test-result
    .widget__body
      display flex
      flex-direction column
    &__title
      margin-top 10px
      height 20%
      display block
      line-height 20px
      &__desc
        display inline-block
        font-size 1.5rem
        margin 10px 20px
      &__name
        display inline-block
        font-size 1.5rem
        font-weight 600
    &__time
      height 20%
      display block
      font-size 1.4rem
      margin 0 20px 10px 20px
      color #8ED1FC
    &__loading
      display block
      margin 40px 0 0 50px
      font-size 1.6em
    &__aborted
      display block
      width 100%
      text-align center
      margin-top 20px
      font-size 5rem
      color #A8A8A8
      font-weight 600

.widget
  &__body
    &__colored
      display flex
      width 100%
      height 100%
      text-align center
      & .jenkins
        &__job-status
          &__current
            margin auto
